/*
* {
  box-sizing: border-box;
}

/* Style the body 
body {
  margin: 0;
  background-color: #EEE;
}
*/

* {
  background-color: #212121 !important;
  color: #fcfcfc !important;
}

.aya {
  border-bottom: 1px solid #888;
}
.aya.selected {
  border-bottom: 5px double #888;
}
.checkbox input:checked{
  background: #AAA !important;
  box-shadow: inset 5px 5px 5px rgba(0,0,0,0.2);
}
