/*
* {
  box-sizing: border-box;
}

/* Style the body 
body {
  margin: 0;
  background-color: #EEE;
}
*/



/* main {
  padding: 50px 10px 10px 10px;
} */



.side, select {
  /* background: #77c7c3ff; */
}



.sajda {
  color: #4CAF50;
}
