@charset "UTF-8";

body,
html {
  width: 100%
}

/* body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
} */

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box
}

.table-header,
tr {
  line-height: 52px
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block
}

blockquote,
q {
  quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none
}

button {
  border: none;
  cursor: pointer
}

*:focus {
  outline: none;
}

@font-face {
  font-family: 'Noon';
  src: url('./static/fonts/Noon-Regular.ttf') format('truetype');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Vazir';
  src: url('./static/fonts/Vazir-Regular.ttf') format('truetype');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sahel';
  src: url('./static/fonts/Sahel.ttf') format('truetype');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Anonymous pro';
  src: url('./static/fonts/anonymous-pro.ttf') format('truetype');
  font-weight: normal;
  font-display: swap;
}

body,
html {
  font-family: Vazir;
  text-rendering: optimizelegibility;
  margin: 0 auto;
}

.logo {
  padding-top: 15px;
}
.logo img {
  width: 40%;
}
.logo h1 {
  font-family: Sahel;
  font-size: 25pt;
}

.checkbox{
  /* height: 80px;
  width: 270px; */
  padding: 20px;
  display: flex;
  background: #fff;
  align-items: center;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0,0,0,.2);
  justify-content: space-between;
  font-family: Sahel;
  margin-bottom: 15px;
}
.checkbox input{
  outline: none;
  height: 20px;
  width: 40px;
  border-radius: 50px;
  -webkit-appearance: none;
  position: relative;
  background: #e6e6e6;
  box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.checkbox input:checked{
  background: #664AFF;
}
.checkbox input:before{
  position: absolute;
  content: "";
  left: 0;
  height: 100%;
  width: 20px;
  background: linear-gradient(#fff,#f2f2f2,#e6e6e6,#d9d9d9);
  box-shadow: 0 2px 5px rgba(0,0,0,.2);
  border-radius: 50px;
  transform: scale(0.85);
  transition: left 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
input:checked:before{
  left: 20px;
}
.checkbox .text:before{
  content: "";
  font-size: 25px;
  font-weight: 500;
  color: #bfbfbf;
}
input:checked ~ .text:before{
  color: #664AFF;
  font-size: 25px;
  content: "";
}

button:disabled {
  display: none;
}
#browse, #text, #translate, #about {
  padding-bottom: 15px;
  padding-top: 15px;
}

#about button {
  padding: 10px;
  background: inherit;
}

.sura, .bismillah, .aya, .ayatext {
  font-family: Noon;
}
.ayanum {
  /*font-family: 'Sahel FD';*/
  position: relative;
  top: 4px;
  padding: 0 5px;
}

.sura {
  direction: rtl;
  text-align: center;
  /* font-weight: bold; */
  font-size: 28pt;
  height: 100px;
  line-height: 100px;
  margin: 20px 0;
  background-image: url('./static/images/sr.png');
  background-repeat: no-repeat;
  background-position-x: center;
}
.bismillah {
  direction: rtl;
  text-align: center;
  font-size: 20pt;
  line-height: 3rem;
  margin: 20px 0;
}
.aya {
  direction: rtl;
  text-align: right;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 1px solid #888;
  cursor: pointer;
  line-height: 3rem;
}
/* .sura::before {
  width: 207px;
  height: 100px;
  float: right;
  content: "";
  background-image: url('./static/images/rs.png');
  background-repeat: no-repeat;
}
.sura::after {
  width: 207px;
  height: 100px;
  float: left;
  content: "";
  background-image: url('./static/images/ls.png');
  background-repeat: no-repeat;
} */

body {
  background: #F7F7F7;
}
#browse, #text, #translate, #about {
  background: #FFF;
  margin-bottom: 30px;
  border-radius: 6px;
  box-shadow: 5px 5px 10px rgba(0,0,0,.2);
  margin-bottom: 5px;
  /* box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1), 0 2px 10px 0 rgba(0, 0, 0, .07); */
}

#menu-button, #menu-button+label {display: none;}

.side {
  transition: transform .1s linear;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 25%;
  height: 100%;
  padding-left: 15px;
  padding-right: 15px;
  overflow-y: auto;
}
select {
  width: 100%;
  /* border-bottom: 1px solid #AAA; */
  border: 0;
  background-color: #FFF;
  font-size: 1rem;
  padding: 5px;
  color: #333;
}

.main {
  position: fixed;
  top: 50px;
  right: 0;
  padding-right: 20px;
  width: 72%;
  height: calc(100% - 50px);
  overflow-y: scroll;
  border-radius: 6px;
}
.main section {
  padding: 10px
}
.aya.selected {
  border-bottom: 5px double #333;
}
.aya.selected::before {
  content: '\025c0';
  font-size: 14px;
  font-weight: 900;
  padding-top: 5px;
  width: 20px;
  float: right;
}

.pagination {
  position: absolute;
  top: 0;
  left: 30%;
  width: 65%;
  padding-top: 5px;
}
.pagination button {
  padding: 10px;
  border: 1px solid #EEE;
  background: #FFF;
  border-radius: 6px;
  /* box-shadow: 5px 5px 10px rgba(0,0,0,.2); */
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1), 0 2px 10px 0 rgba(0, 0, 0, .07);
  float: left;
}
/* .pagination button#nextButton {
  float: left;
}*/
.pagination button#prevButton {
  margin-left: 10px;
}

@media screen and (max-width:900px) {
  .side { width:30% }
  .main { width: 67%; padding-right: 12px; }
}

@media screen and (max-width:720px) {
  .side {
    padding-left: 5px;
    transform: translateX(-100%);
    transition: transform .1s linear;
  }
  .main {
    width: 96%;
  }
  #menu-button+label {
    display: block;
    position: fixed;
    z-index: 8;
    top: 0;
    left: 0;
    padding: 10px;
    background: #fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1), 0 2px 10px 0 rgba(0, 0, 0, .07);
    cursor: pointer;
    transition: left .1s linear;
    z-index: 9999;
  }
  #menu-button:checked~.main {
    width: 96%;
  }
  #menu-button:not(:checked)~.main {
    width: 67%;
  }
  #menu-button:checked~.side {
    transform: translateX(-100%)
  }
  #menu-button:not(:checked)~.side {
    transform: translateX(0)
  }
}






/* @media screen and (max-width:520px) {
  .grid-container {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 10px;
    padding: 10px;
  }
  
  aside {
    display: none;
  }
  main {
    grid-column-start: 1;
  }
} */

select {
  font-family: Sahel;
}

.ayatext {
  font-size: 20pt;
  padding-top: 5px;
}

.translate {
  font-family: 'Sahel';
  font-size: 14pt;
}

.rtl {
  direction: rtl;
  text-align: right;
  line-height: 2.5rem;
}

.ltr {
  direction: ltr;
  text-align: left;
  line-height: 1.8rem;
}

.pagination {
  text-align: center;
}

/* select:focus {
  outline: 0px solid transparent;
} */

/* body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
} */



/* Modal /*
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
  animation-name: animatetop;
  animation-duration: 0.4s;
  font-size: 12pt;
}
@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}
.modal-content h1 {
  font-family: Sahel;
  font-size: 20pt;
  border-bottom: 1px solid #999;
  margin-bottom: 10px;
}
.modal-content p {
  font-family: Sahel;
  font-size: 14pt;
}
.modal hr {
  width: 60%;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} 